.btn{
    width: 227px;
    height: 72px;
    background-color: #45C436;
    border-radius: 61px;
    padding: 26px 58px; 
    color: #fff;
    border:1.5px solid #059a02;
    &:hover{
        color: #fff;
    }
}