.poll{
    padding-top: 161px;
    &__title{
        position: relative;
        display: block;
        margin: 0 auto;
        padding-left: 60px;
        width: 760px;
        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 15%;
            background-color: $main-color;
            border-radius: 100%;
            width: 28px;
            height: 28px;
        }
    }
    &__subtitle{
        margin-top: 10px;
        text-align: center;
    }
    &__wrapper{
        padding: 45px 41px 38px 50px;
        margin-top: 60px;
        width: 100%;
        border-radius: 12px;
        display: grid;
        grid-template-columns: 700px 320px;
        background-color: #fff;
    }
    &__block{
        margin: 0 auto;
    }
    &__line{
        width: 100%;
        height: 13px;
        display: flex;
        justify-content: space-between;
        span{
            width: 150px;
            height: 100%;
            background-color: #fff;
            border: 1px solid #C9C9C9;
            border-radius: 89px;
            &:nth-child(1){
                background: $gradient;
            }
        }
    }
    &__subname{
        margin-top: 40px;
        text-align: center;
    }
    &__name{
        text-align: center;
        font-size: 34px;
        line-height: 41px;
    }
    &__test{
        margin-top: 40px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 160px);
        grid-gap: 26px;
    }
    &__item{
        display: flex;
        flex-direction: column;
        min-height: 160px;
        background-color: #fff;
        border-radius: 9px;
        padding: 15px 26px 30px 26px;
        align-items: center;
        justify-content: start;
        .poll__img{
            max-width: 82px;
            min-height: 80px;
        }
        img{
            width: 100%;
        }
        &-active{
            background:#45C436;
        }
    }
    &__text{
        color: #222;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        margin-top: 12px;
    }
    &__btn{
        display: block;
        width: 227px;
        min-height: 72px;
        margin: 40px auto 0 auto;
        padding: 26px 79px;
        line-height: 15px;
        background: $gradient;
        border:1px solid #059A02;
        border-radius: 126px;
    }
}